.env
.venv/
__pycache__/
*.py[cod]

input_audio/*
!input_audio/.gitkeep
output/*
!output/.gitkeep
!output/logs/
output/logs/*
!output/logs/.gitkeep
!output/manifests/
output/manifests/*
!output/manifests/.gitkeep
!output/temp/
output/temp/*
!output/temp/.gitkeep
